<div class="d-flex align-items-center p-3 px-md-4 mt-3 bg-white border-top box-shadow">
    <h6 class="my-0 mr-md-auto font-weight-normal d-flex flex-row">
        Made with&nbsp;
        <a href="https://nodejs.org/en/">Node.js</a>
        ,&nbsp;
        <a href="http://expressjs.com/">Express</a>
        &nbsp;and&nbsp;
        <a href="https://handlebarsjs.com/">Handlebars</a>
        .
        &emsp;
        Deployed using&nbsp;
        <a href="https://www.heroku.com/">Heroku</a>
    </h6>
    <nav class="my-2 my-md-0 mr-md-3">
        View code here:
        <a class="p-2 text-dark" href="https://github.com/MiguelLeyesa/gestsoc-site">Github Repository</a>
    </nav>
</div>