<div class="d-flex align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal d-flex flex-row">
        <a class="p-2 text-dark" href="/">Vertical Axis Wind Turbines</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/social_problem">Social problem</a>
        <a class="p-2 text-dark" href="/philippine_context">Philippine context</a>
        <a class="p-2 text-dark" href="/reasons_to_use">Reasons to Use</a>
        <a class="p-2 text-dark" href="/best_practices">Best Practices</a>
        <a class="p-2 text-dark" href="/references">References</a>
    </nav>
</div>